<form (ngSubmit)="onSubmit()" class="point-form">
  <div class="form-group">
    <label>Координата X:</label>
    <div class="button-group">
      <button
        type="button"
        *ngFor="let value of xValues"
        class="value-button"
        [ngClass]="{'selected': x === value}"
        (click)="selectX(value)">
        {{ value }}
      </button>
    </div>
    <span *ngIf="errors['x']" class="error">{{ errors['x'] }}</span>
  </div>
  <div class="form-group">
    <label>Координата Y (-5 ... 5):</label>
    <input type="text" [(ngModel)]="y" name="y" placeholder="Введите Y">
    <span *ngIf="errors['y']" class="error">{{ errors['y'] }}</span>
  </div>
  <div class="form-group">
    <label>Радиус R:</label>
    <div class="button-group">
      <button
        type="button"
        *ngFor="let value of rValues"
        class="value-button"
        [ngClass]="{'selected': r === value}"
        (click)="selectR(value)">
        {{ value }}
      </button>
    </div>
    <span *ngIf="errors['r']" class="error">{{ errors['r'] }}</span>
  </div>
  <button type="submit" class="submit-button">Проверить</button>
</form>
